#take_snapshot{
    color: black;
    background-color: yellow;
    
}
#body{
    background-color: rgb(66, 62, 90);
}
#take{
    color: black;
    background-color: yellow;
    
}
.heading{
    color: yellow;
}
.hr{
    color: yellow;
}
